{% extends "base.html" %}
{% load staff_groups %}

{% block sidebar %}
    {% include "../components/sidebar.html" %}
{% endblock sidebar %}


{% block content %}
<div class="account_container">
    <div class="account_container__header">
        <h1 class="account_container__header__title">
            {% if request.user.is_superuser %}
            Панель управления системы
            {% else %}
            Панель сотрудника
            {% endif %}
        </h1>
    </div>
    {% if request.user|has_group:"Преподаватели" %}
        {% include '../partials/home_teacher.html' %}
    {% else %}
        {% include '../partials/home.html' %}
    {% endif %}
</div>
{% endblock content %}