{% extends "base.html" %}
{% load static %}
{% block content %}
<form hx-post="{% url 'core:registration' %}" hx-target="#registration-form" hx-swap="innerHTML">
    {% csrf_token %}
    <div id="registration-form" class="signup_container">
        <div class="signup_container__content">
            <div class="signup_container__content__header">
                <img src="{% static '/img/logo_sport.svg' %}">
                <h1 class="signup_container__content__header__title">Регистрация в системе</h1>
                <p class="signup_container__content__header__description">Пожалуйста, заполните представленные реквизиты</p>
            </div>
            <div class="signup_container__content__body">
                <div class="form_container">
                    <label for="email">Электронная почта</label>
                    <input required type="email" name="email" class="container_input inputing" id="email">
                </div>

                <div class="form_container">
                    <label for="password">Пароль</label>
                    <input required type="password" name="password" class="container_input inputing" id="password">
                </div>
                <div class="form_container">
                    <label for="approved-password">Подтвердить пароль</label>
                    <input required type="password" name="approved_password" class="container_input inputing" id="approved-password">
                </div>
                <div class="form_container">
                    <label for="education-group">Учебная группа</label>
                    <select name="education_group" class="container_select select_create" id="education-group">
                        {% for group in groups %}
                            <option value="{{ group.id }}">{{ group }}</option>
                        {% endfor %}    
                    </select>
                </div>
                <div class="form_container">
                    <label for="last-name">Фамилия</label>
                    <input required type="text" name="last_name" class="container_input inputing" id="last-name">
                </div>
                <div class="form_container">
                    <label for="first-name">Имя</label>
                    <input required type="text" name="first_name" class="container_input inputing" id="first-name">
                </div>
                <div class="form_container">
                    <label for="patronymic">Отчество</label>
                    <input required type="text" name="patronymic" class="container_input inputing" id="patronymic">
                </div>
                <button class="button confirm" type="submit">Подтвердить</button>
            </div>
        </div>
    </div>
</form>
<script>
    document.addEventListener("htmx:responseError", function(evt) {
        alert("Ошибка: " + evt.detail.xhr.responseText);
    });
    </script>
{% endblock content %}