@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  color: inherit;
  text-decoration: none !important;
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li, ol {
  list-style: none !important;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  resize: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

legend {
  display: block;
}

html {
  font-size: 15px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: auto;
  font-family: "Golos Text", sans-serif;
  background-color: #F9F9FF;
  height: 100vh;
  width: 100%;
}

form {
  display: contents;
}

h1, h2, h3, h4 {
  font-weight: 400;
  color: #2b2b2b;
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 25px;
}

.main_container_row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.user_initials {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
}

.button {
  padding: 7px;
  width: 100%;
  font-size: 13px;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button.cancel {
  border: 1px solid #959595;
}
.button.confirm {
  background-color: #C01631;
  border-radius: 0.2rem;
  padding: 1rem;
  height: 3rem;
  font-size: 1.1rem;
  color: #fff;
}
.button.create {
  border: 1px solid #766EDF;
  border-radius: 0.2rem;
  padding: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  color: #766EDF;
  transition: 0.6s ease-in-out;
}
.button.create:hover {
  background-color: #766EDF;
  color: #fff;
}

.form_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  font-size: 14px;
}
.form_container.row-option {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  border: 1px solid #dbdbdb;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 14px;
  align-items: center;
}
.form_container.button-toggle-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form_container label {
  font-size: 15px;
  color: #6E7689;
}

.container_input {
  min-height: 47px;
  font-size: 15px;
  padding: 0 13px 0 15px;
  height: 100%;
  line-height: 20px;
  letter-spacing: 0.5px;
  width: 100%;
  color: #959595;
}
.container_input.inputing {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  border: 1px solid #dbdbdb;
  transition: all 0.3s ease-in-out;
  min-height: 44px;
  color: #2b2b2b;
  transition: 0.4s ease-in-out;
}
.container_input.inputing:focus {
  border: 1px solid #70A8FF;
}
.container_input.textarea {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  border: 1px solid #dbdbdb;
  transition: all 0.3s ease-in-out;
  padding: 9px;
  font-size: 13px;
  min-height: -moz-fit-content;
  min-height: fit-content;
  color: #2b2b2b;
  transition: 0.4s ease-in-out;
}
.container_input.textarea:focus {
  border: 1px solid #70A8FF;
}
.container_input__checkbox {
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container_input__checkbox__label {
  flex: 0 0 16.333%;
}
.container_input__checkbox__label.full-line {
  flex: 0 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.container_input__checkbox__label.full-line .container_input__checkbox-title {
  align-items: flex-start;
}
.container_input__checkbox:checked + .container_input__checkbox-title {
  border-color: #70A8FF;
  color: #70A8FF;
}
.container_input__checkbox:checked + .container_input__checkbox-title .card_container__icon,
.container_input__checkbox:checked + .container_input__checkbox-title .ccard_container {
  color: #70A8FF;
}
.container_input__checkbox-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7px;
  font-size: 12px;
  border: 1px solid #959595;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.container_select {
  position: relative;
  width: 100%;
  display: inline-block;
}
.container_select.select_create {
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #D0D4DD !important;
  border: none;
  cursor: pointer;
}
.container_select.select_create:focus {
  outline: none;
}
.container_select .select_search {
  height: 100%;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  background-color: #EFF4F8;
  color: #73768E;
  border: 1px solid #E1EBF0;
  border: none;
  cursor: pointer;
}
.container_select .select_search:focus {
  outline: none;
}
.container_select::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 10px;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-top-color: #73768E;
  pointer-events: none;
}

.selected_filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10px;
  transition: height 0.4s ease-in-out;
  gap: 15px;
  height: -moz-fit-content;
  height: fit-content;
}
.selected_filters__selected-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-color: #70A8FF !important;
  background-color: #f3f8ff;
  font-size: 13px;
  color: #70A8FF;
  padding: 7px;
  gap: 9px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  border: 1px solid #dbdbdb;
  transition: all 0.3s ease-in-out;
}
.selected_filters__selected-filter__remove-filter {
  font-size: 20px;
  color: #70A8FF;
  font-weight: 400;
  cursor: pointer;
}

.modal {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}
.modal .modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.modal .modal-body__header {
  gap: 9px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-inline: 25px;
  margin-block: 21px;
}
.modal .modal-body__header__title {
  font-size: 21px;
}
.modal .modal-body__header__description {
  font-size: 15px;
  color: #959595;
}
.modal .modal-body__content {
  width: 100%;
  padding-inline: 25px;
  background-color: #fff;
  height: 100%;
  margin-top: 21px;
  border-radius: 0rem 0rem 1rem 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.modal .modal-body__content .card_object__virtual_machine {
  flex: 1 !important;
  width: 21rem !important;
}
.modal .modal-body__content .form_container label {
  color: #2b2b2b;
  font-size: 14px;
}
.modal .modal-body__content .form_container .middle_form {
  max-width: 50%;
}
.modal .modal-body__content .form_container .small_form {
  max-width: 25%;
}
.modal .modal-body__content .form_container input {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  border: 1px solid #dbdbdb;
  transition: all 0.3s ease-in-out;
}
.modal .modal-body__footer {
  display: flex;
  align-items: center;
  padding-inline: 25px;
  width: 100%;
  background-color: #F9FAFB;
  min-height: 7rem;
}
.modal .modal-body__footer__buttons {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
  width: 100%;
  margin-left: auto;
}
.modal .modal-body__sidebar {
  position: absolute;
  width: 16rem;
  height: 100%;
  background-color: #F9FAFB;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.modal .modal-body__sidebar__element {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 13px;
  height: 100%;
  padding-inline: 17px;
  max-height: 35px;
  width: 100%;
  border-radius: 0.5rem;
  font-weight: 500;
  position: relative;
  transition: all 0.4s ease-in-out;
  color: #959595;
  gap: 7px;
}
.modal .modal-body__sidebar__element svg {
  stroke: #959595;
}
.modal .modal-body__sidebar__element.actived-modal-tab {
  color: #70A8FF !important;
  background-color: #EFF6FF;
}
.modal .modal-body__sidebar__element.actived-modal-tab::before {
  content: "";
  left: 0;
  transition: all 0.4s ease-in-out;
  position: absolute;
  animation: transitX 0.5s ease-in-out;
  height: 100%;
  max-height: 21px;
  border-radius: 0rem 0.4rem 0.4rem 0rem;
  width: 3px;
  background-color: #70A8FF;
  padding-block: 4px;
}
.modal .modal-body__sidebar__element.actived-modal-tab svg {
  stroke: #70A8FF;
}
.modal .modal-body__sidebar__body {
  position: relative;
  align-items: center;
  width: 100%;
  gap: 11px;
  max-width: 100%;
  height: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.modal .modal-body__subside {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.modal .modal-body__subside__title {
  margin-top: 15px;
  padding-inline: 11px;
  font-size: 13px;
  text-transform: uppercase;
  color: #2b2b2b;
}
.modal .modal-body.content {
  padding: 8px 13px;
  position: relative;
  left: 8rem;
  width: calc(100% - 17rem) !important;
}
.modal .modal-body-column {
  gap: 25px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.modal .modal-body-row {
  width: 100%;
  height: 100%;
  position: relative;
  gap: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.modal .modal-footer {
  margin-top: 25px;
}
.modal .modal-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.modal .modal-content-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 25px;
  margin-block: 10px;
}
.modal .modal-content-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 25rem;
  margin-top: 15px;
  gap: 21px;
}
.modal .modal-content.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 7px;
  gap: 5px;
}
.modal .modal-content.header h3 {
  font-size: 15px;
}
.modal .modal-content.header P {
  font-size: 13px;
  color: #959595;
}
.modal .modal-content .minimal_content {
  width: 25%;
}
.modal .modal-content .form_container input {
  background-color: #fff;
}
.modal .modal-content .inventory_number label {
  color: #70A8FF;
}
.modal .modal-content .inventory_number .inputing {
  border-color: #f3f8ff;
  color: #70A8FF;
  background-color: #f3f8ff;
}
.modal .modal-content.overflow-scroll-y {
  overflow-y: scroll;
  scrollbar-width: none;
}
.modal > .modal-backdrop {
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.modal > .modal-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 0.5rem;
  margin-top: 5vh;
  margin-block: 25px;
  background-color: #fff;
  width: 80%;
  height: 100%;
  max-height: 900px;
  max-width: 70rem;
}
.modal > .modal-content.middle_modal {
  max-width: 37%;
}
.modal > .modal-content.middle_modal.small-height {
  height: 30rem !important;
}
.modal.closing {
  animation: fadeOut 0.3s ease-in-out;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 9px;
  padding-bottom: 25px;
}
.modal-header span {
  color: #70A8FF;
}
.modal-header__title {
  display: flex;
  font-size: 20px;
  gap: 9px;
  font-weight: 400;
}
.modal-header p {
  font-size: 15px;
  color: #959595;
}

.close {
  font-size: 24px;
  color: #999999;
  opacity: 1;
  cursor: pointer;
}

.close:hover {
  color: #666666;
}

#furnitures-container-results {
  transition: opacity 0.5s ease-in-out;
}

@keyframes transitX {
  from {
    transform: translateX(1px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes fadeBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.navigation {
  color: rgb(12, 21, 35) !important;
  position: fixed;
  font-weight: 500;
  z-index: 3;
  padding-block: 3rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 90px;
  height: 100vh;
  background-color: #ffffff;
}
.navigation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  height: 100%;
  padding-block: 15px;
}
.navigation__container__element {
  display: flex;
  align-items: center;
}
.navigation__container__element__link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: #F6F7F8;
  cursor: pointer;
}

.navigation_panel {
  display: flex;
  height: 100%;
  padding: 1rem;
  width: calc(100% - 7rem);
  left: 7rem;
  position: relative;
}
.navigation_panel__row {
  align-items: center !important;
  justify-content: center;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.3rem;
}
.navigation_panel__user_auth {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}
.navigation_panel__user_auth span {
  color: #959595;
}

.table__content {
  display: grid;
  border-collapse: collapse;
  width: 100%;
  min-width: 100%;
}
.table__content thead,
.table__content tbody,
.table__content tr {
  display: contents;
}
.table__content thead .not_found_elements,
.table__content tbody .not_found_elements,
.table__content tr .not_found_elements {
  text-align: center;
  display: grid;
  grid-column: 1/-1;
}
.table__content th,
.table__content td {
  padding: 19px;
  overflow: hidden;
  color: #2b2b2b;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table__content th {
  text-align: left;
  font-weight: 400;
  border-bottom: 1px solid #EBEEF4;
  font-size: 0.8rem;
  color: #959595;
}
.table__content td {
  padding-block: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 5rem;
  color: #2b2b2b;
}
.table__content td .table_link {
  padding: 0.5rem;
  transition: 0.8s ease-in-out;
}
.table__content td .table_link.approved {
  color: #679F81;
  background-color: #ECFDF3;
}
.table__content.approved_students {
  grid-template-columns: minmax(0px, 0.3fr) minmax(0px, 0.7fr) minmax(0px, 1fr) minmax(0px, 0.5fr);
}

.login_container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_container__content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 41rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 1.5rem;
  padding: 2rem;
  background-color: #fff;
}
.login_container__content__header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}
.login_container__content__header__title {
  margin-top: 0.8rem;
  font-size: 1.2rem;
}
.login_container__content__header__description {
  font-size: 0.9rem;
  color: #A39BA6;
}
.login_container__content__body {
  margin-block: 3rem;
  height: 100%;
  gap: 1.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login_container__content__body .form_container label {
  font-size: 0.9rem;
}
.login_container__content__body .form_container .container_input,
.login_container__content__body .form_container .container_select {
  padding: 0 13px 0 15px;
  font-size: 0.9rem !important;
  min-height: 35px !important;
}
.login_container__content__body .button {
  height: 2.8rem;
  font-size: 0.8rem;
}

.account_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  padding: 5rem;
  height: 100%;
}
.account_container__row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}
.account_container__header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.1rem;
}
.account_container__header__title {
  font-size: 25px;
  font-weight: 500;
}
.account_container__header__title.color {
  color: inherit;
  -webkit-box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  background: linear-gradient(114.69deg, #1AE1CA, #40E6D3 0.01%, #547DD2);
}
.account_container__content {
  flex: 1;
  height: 100%;
  border-radius: 1rem;
  padding: 3rem;
  background-color: #fff;
}
.account_container__content.solo_position {
  flex: none;
  max-width: 35rem;
  height: -moz-fit-content;
  height: fit-content;
}
.account_container__content.solo_position p {
  color: #A39BA6;
}
.account_container__content.solo_position button {
  font-size: 14px;
  margin-top: 2.3rem;
}
.account_container__content__header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}
.account_container__content__header__title {
  font-size: 1.2rem;
}
.account_container__content__header button {
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.account_container__content__body {
  gap: 0.3rem;
  margin-block: 3rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.account_container__content__body h2 {
  font-size: 1.3rem;
}
.account_container__content__body ul {
  margin-block: 1rem;
}
.account_container__content__body ul h2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.account_container__content__body ul li {
  padding-block: 5px;
}
.account_container__content__body ul li span:nth-child(2) {
  color: #A39BA6;
}
.account_container__content__body__information {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #e2e2e2;
  gap: 1rem;
}
.account_container__content__body__information__initials {
  border-radius: 50%;
  padding: 1rem;
  background-color: #F3EEF3;
}
.account_container__content__body__information__initials span {
  font-size: 1rem;
}
.account_container__content__body__information__body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}
.account_container__content__body__information__body h1 {
  font-size: 1.2rem;
}
.account_container__content__body__information__body span {
  font-size: 0.9rem;
  color: #A39BA6;
}

.signup_container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup_container__content {
  width: 100%;
  height: 100%;
  max-width: 41rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 1.5rem;
  padding: 2rem;
  background-color: #fff;
}
.signup_container__content__header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}
.signup_container__content__header__title {
  margin-top: 0.8rem;
  font-size: 1.2rem;
}
.signup_container__content__header__description {
  font-size: 0.9rem;
  color: #A39BA6;
}
.signup_container__content__body {
  height: 100%;
  margin-top: 3rem;
  gap: 1.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup_container__content__body .form_container label {
  font-size: 0.9rem;
}
.signup_container__content__body .form_container .container_input,
.signup_container__content__body .form_container .container_select {
  padding: 0 13px 0 15px;
  font-size: 0.9rem !important;
  min-height: 35px !important;
}
.signup_container__content__body .button {
  height: 2.8rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
}

.staff_module {
  flex: 1;
}
.staff_module__container {
  width: 100%;
}
.staff_module__container__content__approved {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.7rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #EBEEF4;
}
.staff_module__container__content__approved__header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.7rem;
}
.staff_module__container__content__approved__body {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.7rem;
  margin-block: 1rem;
}
.staff_module__container__content__approved__body__row {
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  max-width: calc(80rem + 30px);
  margin-inline: auto;
  padding-inline: 15px;
  height: 100%;
  width: 100%;
}
.content.full {
  max-width: calc(120rem + 30px);
}
.content.block {
  margin-block: 1.4rem;
}

.margin-block-1 {
  margin-block: 1rem !important;
}/*# sourceMappingURL=main.css.map */