.form_container {
    @include flex-column-start;
    gap: 8px;
    width: 100%;
    font-size: 14px;

    &__inputs {
        background-color: #fff;
        min-width: 35rem;
        @include flex-column-start;
        gap: 1.5rem;
        border: 1px solid $color-gray-2;
        padding: 1.7rem;

        &__body {
            width: 100%;
            gap: .8rem;
            @include flex-row;
        }
    }

    .student_container {
        display: flex;
        gap: .5rem;
        align-items: center;
    }


    &.row-option {
        @include border-gray;
        @include flex-row;
        padding: 14px;
        align-items: center;
    }

    &.button-toggle-container {
        @include flex-column-start;
    }

    label {
        font-size: 15px;
        color: #6E7689;
    }

    &.small {
        label {
            color: $color-dark;
            padding-left: 5px;
            font-size: 13px !important;
        }
        .container_select,
        .container_input.inputing {
            background-color: transparent;
            padding: 5px;
            min-height: 2.2rem;
            font-size: 12px;
            padding-right: 7px;
        }
    }

    
}

.upload_files {
    background-color: #766EDF !important;
    color: #fff !important;
    cursor: pointer;
    padding: 1rem;
    border-radius: .7rem;

    &.hidden {
        opacity: 0;
    }
}

.uploaded_files {
    width: 100%;
    height: 100%;
    border: 1px solid $color-gray-2;
    border-radius: .7rem;
    padding: 1rem;

    h3 {
        font-size: .9rem;
        margin-bottom: 1rem;
    }

    &__list {
        @include flex-column-start;
        height: 100%;
        gap: .8rem;

        li {
            width: 100%;
            padding: .8rem;
            border: 1px solid $color-gray;
            border-radius: .7rem;
            display: flex;
            align-items: center;
            font-size: .8rem;
            color: $color-dark;

            button {
                margin-left: auto;
                color: #F11845;
                padding: .3rem;
                width: 5rem;
                border: 1px solid #F11845;
            }
        }
    }
}

.container_input {
    min-height: 47px;
    font-size: 15px;
    padding: 0 13px 0 15px;
    height: 100%;
    line-height: 20px;
    letter-spacing: 0.5px;
    width: 100%;
    color: $color-gray;

    &.inputing {
        min-height: 44px;
        border: 1px solid #dbdbdb !important;
        color: $color-dark;
        transition: .4s ease-in-out;
        &:focus {
            border: 1px solid #70A8FF;
        }
    }

    &.textarea {
        padding: 9px;
        border: 1px solid #dbdbdb !important;
        font-size: 13px;
        min-height: fit-content;
        color: $color-dark;
        transition: .4s ease-in-out;

        &:focus {
            border: 1px solid #70A8FF;
        }
    }


    &__checkbox {
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;

        &__label {
            flex: 0 0 16.333%;

            &.full-line {
                flex: 0 0 auto;
                width: fit-content;

                .container_input__checkbox-title {
                    align-items: flex-start;
                }
            }
        }

        &:checked + &-title {
            border-color: $color-blue;
            color: $color-blue;

            .card_container__icon, 
            .ccard_container {
                color: #70A8FF;
              }
        }

        &-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 7px;
            font-size: 12px;
            border: 1px solid $color-gray;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            position: relative;
        }

    }
}


.container_select {
    width: 100%;
    

    &.select_create {
        height: 100%;
        width: 100%;

        padding: 10px;
        background-color: #fff;
        border: 1px solid #dbdbdb !important;
        border: none;
        cursor: pointer;
    }

    .select_search {
        height: 100%;
        width: 100%;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 10px;
    
        background-color: #EFF4F8;
        color: #73768E;
        border: 1px solid #E1EBF0;
        border: none;
        cursor: pointer;
    
        &:focus {
            outline: none;
        }
    }
}


.selected_filters {
    @include flex-start;
    width: 100%;
    height: 10px;
    transition: height .4s ease-in-out;
    gap: 15px;
    height: fit-content;

    &__selected-filter {
        @include flex-center;
        width: fit-content;
        border-color: #70A8FF !important;
        background-color: #f3f8ff;
        font-size: 13px;
        color: #70A8FF;
        padding: 7px;
        gap: 9px;
        @include border-gray;

        &__remove-filter {
            font-size: 20px;
            color: #70A8FF;
            font-weight: 400;
            cursor: pointer;
        }
    }
}
