{% extends "../modal_base.html" %}

{% block modal_content %}
<form method="POST" class="filters_module_form" id="system-edit-specialization">
  {% csrf_token %}
<div class="modal-body__header">
  <h2 class="modal-body__header__title">Редактирование специальности</h2>
</div>

<div class="modal-body__content">
  <div class="modal-body-column">
    <div class="form_container">
        <label for="system-specialization-name">Наименование</label>
        <input required type="text" value="{{ specialization.name }}" name="specialization_name" class="container_input inputing" id="system-specialization-name">
    </div>
    <div class="form_container">
      <label for="system-specialization-code">Код</label>
      <input required type="text" value="{{ specialization.code }}" name="specialization_code" class="container_input inputing" id="system-specialization-code">
  </div>
  </div>
</div>

<div class="modal-body__footer">
  <div class="modal-body__footer__buttons">
    <button class="button create full-bg" 
    _="on click trigger closeModal" 
    hx-post="{% url 'staff_module:system-edit-specialization' specialization_id=specialization.id %}"
    hx-target="#app-container"
    hx-include="#system-edit-specialization"
    hx-swap="innerHTML"
    type="button">Сохранить</button>
  </div>
</div>
</form>
{% endblock modal_content %}