<nav class="navigation_panel">
    <div class="navigation_panel__row">
        <span class="user_initials">А</span>
        <div class="navigation_panel__user_auth">
            <p>
            {% if request.user.is_superuser %}Администратор
            {% else %}
                {{ request.user.get_full_name }}
            {% endif %}
            </p>
            <span>
            {% if request.user.is_superuser %}    
                Администратор
            {% else %}
                {{ request.user.get_full_name }}
            {% endif %}
            </span>
        </div>
    </div>
</nav>