<nav class="navigation_panel">
    <div class="navigation_panel__row">
        <span class="user_initials">А</span>
        <div class="navigation_panel__user_auth">
            <p>
            {% if request.user.is_superuser %}Администратор
            {% else %}
                {{ request.user.get_name_initials }}
            {% endif %}
            </p>
            <span>
            {% if request.user.is_superuser %}    
                Администратор
            {% else %}
                {% for group in request.user.groups.all %}
                    {{ group.name }}
                {% endfor %}
            {% endif %}
            </span>
        </div>
    </div>
</nav>