.content {
    max-width: calc($container-width + $container-padding-x * 2);
    margin-inline: auto;
    padding-inline: $container-padding-x;
    height: 100%;
    width: 100%;

    &.full {
        max-width: calc($container-width-full + $container-padding-x * 2);
    }

    &.block {
        margin-block: 1.4rem;
    }
}

.border-gray {
    border: 1px solid $color-gray-2;
}


.margin-block-1 {
    margin-block: 1rem !important;
}

.center {
    align-items: center;
    justify-content: center;
}

.centet-self {
    align-self: center;
}

.height-fit {
    height: fit-content !important;
}

.margin-left {
    margin-left: auto;
}

.align-center {
    align-items: center;
}

.flex-row {
    @include flex-row;
    flex-wrap: wrap;
}

.width-fit {
    width: fit-content !important;
}

.width-100 {
    width: 100% !important;
}

.height-100 {
    height: 100% !important;
}

.pad-1 {
    padding: 1rem;
}

.mar-t-1 {
    margin-top: 1rem;
}

.clr-gray {
    color: $color-gray;
}