<div class="signup_container__content">
    <div class="signup_container__content__header">
        <img src="/static/img/approved.svg">
        <h1 class="signup_container__content__header__title">Регистрация успешно завершена</h1>
        <p class="signup_container__content__header__description">Пожалуйста, дождитесь подтверждение Вашей учетной записи. В ближайшее время Ваш куратор обработает заявку на регистрацию</p>
    </div>
    <div class="signup_container__content__body">
        <a class="button confirm" href="{% url "core:login" %}">Далее</a>
    </div>
</div>