{% for participant in participants %}
<li class="form_container">
    <div class="form_container__inputs">
        <div class="form_container__inputs__header">
            <p>{{ participant.student.user.get_full_name }}</p>
            <p class="clr-gray">Учебная группа: {{ participant.student.study_group }}</p>
        </div>
        <form method="POST" id="add-participant-event-{{ participant.id }}">
            {% csrf_token %}
            <div class="form_container__inputs__body">
                {% if not participant.position %}
                <div class="form_container small">
                    <label for="event-participant-result">Результат</label>
                    <select name="event_result" class="container_select select_create" id="event-participant-result">
                        {% for result in event_result %}
                            <option value="{{ result.0 }}">{{ result.1 }}</option>
                        {% endfor %}    
                    </select>
                </div>
                <div class="form_container small">
                    <label for="event-participant-position">Место</label>
                    <select name="event_position" class="container_select select_create" id="event-participant-position">
                        {% for position in event_position %}
                            <option value="{{ position.0 }}">{{ position.1 }}</option>
                        {% endfor %}    
                    </select>
                </div>
                <div class="form_container small">
                    <label for="event-participant-mvp">MVP</label>
                    <select name="mvp_status" class="container_select select_create" id="event-participant-mvp">
                        <option value="mvp_false">Нет</option>
                        <option value="mvp_true">Да</option>
                    </select>
                </div>
                <button class="button save" 
                hx-post="{% url 'staff_module:event-detail-save-achievement' event_id=event.id student_id=participant.student.user.id %}"
                hx-target="#participant-list"
                hx-include="#add-participant-event-{{ participant.id }}"
                hx-swap="innerHTML"
                type="button">
                    <svg width="33" height="33" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4" d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2Z" fill="#766EDF"/>
                        <path d="M10.5794 15.5796C10.3794 15.5796 10.1894 15.4996 10.0494 15.3596L7.21945 12.5296C6.92945 12.2396 6.92945 11.7596 7.21945 11.4696C7.50945 11.1796 7.98945 11.1796 8.27945 11.4696L10.5794 13.7696L15.7194 8.62961C16.0094 8.33961 16.4894 8.33961 16.7794 8.62961C17.0694 8.91961 17.0694 9.39961 16.7794 9.68961L11.1094 15.3596C10.9694 15.4996 10.7794 15.5796 10.5794 15.5796Z" fill="#766EDF"/>
                        </svg>                        
                </button>
                {% else %}
                <p>{{ participant.get_position_display }}</p>
                <p>{{ participant.get_result_display }}</p>
                {% endif %}
            </div>
        </form>
    </div>
</li>
{% endfor %}