{% load staff_groups %}
<div class="account_container">
    <div class="account_container__header">
        <h1 class="account_container__header__title">
            {% if request.user.is_superuser %}
            Панель управления системы
            {% else %}
            Панель сотрудника
            {% endif %}
        </h1>
    </div>
{% if request.user.is_superuser %}
{% endif %}
<div class="account_container__row">
    <div class="account_container__content">
        <div class="account_container__content__header">
            <h1 class="account_container__content__header__title">Количество пользователей</h1>
        </div>
        <div class="account_container__content__body">
            <h1 class="account_container__content__header__title">{{ users_count }}</h1>
        </div>
    </div>
    <div class="account_container__content">
        <div class="account_container__content__header">
            <h1 class="account_container__content__header__title">Количество студентов</h1>
        </div>
        <div class="account_container__content__body">
            <h1 class="account_container__content__header__title">{{ students_count }}</h1>
        </div>
    </div>
    <div class="account_container__content">
        <div class="account_container__content__header">
            <h1 class="account_container__content__header__title">Количество преподавателей</h1>
        </div>
        <div class="account_container__content__body">
            <h1 class="account_container__content__header__title">{{ staffs_count }}</h1>
        </div>
    </div>
    <div class="account_container__content">
        <div class="account_container__content__header">
            <h1 class="account_container__content__header__title">Количество мероприятий</h1>
        </div>
        <div class="account_container__content__body">
            <h1 class="account_container__content__header__title">{{ events_count }}</h1>
        </div>
    </div>
</div>
<div class="account_container__row">
    <div class="account_container__content">
        <div class="account_container__content__header">
            <h1 class="account_container__content__header__title">Подтверждение учетных записей студентов</h1>
        </div>
        <div class="account_container__content__body">
            <form id="approved-student" method="POST">
                {% csrf_token %}
            {% include './partial_approved_students.html' %}
            </form>
        </div>
    </div>
</div>
</div>