<div class="account_container"> 
    <div class="account_container__header">
        <h1 class="account_container__header__title">Учетные записи студентов</h1>
    </div>
    <div id="users-students-filters" class="account_container__content__row">
        <form method="GET"
        hx-trigger="change, keyup delay:500ms"
        hx-swap="innerHTML transition:true"
        hx-get="{% url 'staff_module:students-filters' %}" hx-target="#students-data">
        <div class="form_container small">
            <label for="students-study-group">Учебная группа</label>
            <input type="text" name="study_group" class="container_input inputing" id="students-study-group">
        </div>
        <div class="form_container small">
            <label for="students-main-sport">Вид спорта</label>
            <select name="filter_sport" class="container_select select_create" id="students-main-sport">
                <option value="all_sports">Все</option>
                {% for sport in sports %}
                    <option value="{{ sport.id }}">{{ sport.name }}</option>
                {% endfor %}    
            </select>
        </div>
        <div class="form_container small">
            <label for="name-student">ФИО Студента</label>
            <input type="text" name="name_student" class="container_input inputing" id="name-student">
        </div>
        <div class="form_container small">
            <label for="email-student">E-mail студента</label>
            <input type="text" name="email_student" class="container_input inputing" id="email-student">
        </div>
    </form>
        {% if request.user.is_superuser %}
            <button 
            hx-target="body" 
            hx-get="{% url 'staff_module:create-student' %}"
            hx-swap="beforeend"
            class="button create" 
            type="button">Создать</button>
        {% endif %}
    </div>
    <table cellpadding="7" cellspacing="7" class="table__content students"  id="users-students">
        <thead>
          <tr>
            <th>ID</th>
            <th>Учебная группа</th>
            <th>Вид спорта</th>
            <th>Дополнительный вид спорта</th>
            <th>ФИО</th>
            <th>E-mail</th>
            <th>Дата регистрации</th>
          </tr>
      </thead>
        <tbody id="students-data">
            {% include './users_students_data.html' %}
        </tbody>
    </table>
</div>