<div class="account_container"> 
    <div class="account_container__header">
        <h1 class="account_container__header__title">Учетные записи сотрудников</h1>
    </div>
    <div id="sports-events-filters" class="account_container__content__row">
        <form method="GET"
        hx-trigger="change, keyup delay:500ms"
        hx-swap="innerHTML transition:true"
        hx-get="{% url 'staff_module:events-filters' %}" hx-target="#users-data">
        <div class="form_container small">
            <label for="user-role">Роль</label>
            <select name="filter_sport" class="container_select select_create" id="user-role">
                {% for sport in sports %}
                    <option value="{{ sport.id }}">{{ sport.name }}</option>
                {% endfor %}    
            </select>
        </div>
        <div class="form_container small">
            <label for="name-user">ФИО Сотрудника</label>
            <input type="text" name="name_user" class="container_input inputing" id="name-user">
        </div>
        <div class="form_container small">
            <label for="email-user">E-mail сотрудника</label>
            <input type="text" name="email_user" class="container_input inputing" id="email-user">
        </div>
    </form>
    {% if request.user.is_superuser %}
        <button 
        hx-target="body" 
        hx-get="{% url 'staff_module:create-staff' %}"
        hx-swap="beforeend"
        class="button create" 
        type="button">Создать</button>
        {% endif %}
    </div>
    <table cellpadding="7" cellspacing="7" class="table__content users"  id="sports-events">
        <thead>
          <tr>
            <th>ID</th>
            <th>Роль</th>
            <th>ФИО</th>
            <th>E-mail</th>
            <th>Дата регистрации</th>
          </tr>
      </thead>
        <tbody id="users-data">
            {% include './users_data.html' %}
        </tbody>
    </table>
</div>